.footerOne{
    display: flex;
    flex-direction: row;
     min-width: 100%;
    height: 6%;
    background-color:  rgb(23,23,23);
    position: absolute;
    bottom: 3.3rem;
    
}
.footerTwo{
    border-top: 1px solid  rgb(32, 33, 36) ;
    min-width: 100%;
    height: 3.4rem;
    background-color:  rgb(23,23,23);
    position: absolute;
    top: 92.3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

}
.FooterOneText{
    position: relative;
    color: rgb(151, 157, 162);
    bottom:  10px;
    left: 50px;
    font-size: 16px;
}
.TextContainerOne{
    color: rgb(151, 157, 162);
    margin-right: auto;
    margin-left: 5%;
    margin-top: 10px;
    
    
 

}
.TextContainerOneTxt{
    display: inline;
    margin-right: 8px;
}
.TextContainerOneTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}
.TextContainerTwo{
       color: rgb(151, 157, 162);
    margin-left: auto;
    margin-right: 5%;
  

}
.TextContainerTwoTxt{
    display: inline-block;
    
    margin-right: 8px;

}
.TextContainerTwoTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}
.SearchWorkWordClass{
    display: inline;
}

.FooterDiv{
    flex: 1;
    justify-self: baseline;
}

@media screen and (max-width:428px){
.footerTwo{
 
    min-width: 100%;
    height: 10rem;
    background-color:  rgb(23,23,23);
    position: absolute;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-top: 1px solid  rgb(151, 157, 162);;
    

}
 .footerOne{
    display: flex;
    flex-direction: row;
     min-width: 100%;
    height: 2.5rem;
    background-color:  rgb(23,23,23);
    position: relative;
   
   bottom: 1rem;
}
.TextContainerTwo{
       color: rgb(151, 157, 162);
     margin-left: 6.7rem;
    margin-right: 5rem;
    margin-top: 10px;
    cursor: pointer;

   

}
div .TextContainerOne .SearchWorkWordClass{
    display: block;
    margin-left:6rem;
    margin-top: 1.5rem;
    cursor: pointer;
   


}
.TextContainerOneTxt{
    display: inline;
    margin-left: 1rem;
    margin-right: 2rem;
    cursor: pointer;
}
.TextContainerTwoTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}
.TextContainerOneTxt:hover{
    text-decoration: underline;
    cursor: pointer;
}

}
