.SearchBarMainClass {
  max-width: 100%;
  height:80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  align-content: center;

  background-color :rgb(32, 33, 36);
  
}
.ImgLogo {

  height: 92px;
  max-width: 16rem;
  margin-top: 5rem;
  display: block;

  


  
  

}

.SearchBarDiv {

  height: 2.4rem;
  max-width: 30rem;

  display: flex;
  flex-direction: row;

  min-width: 20rem;
  display: block;
  border-radius: 30px;
  border: 1px solid rgb(48, 49, 52);;
  background-color: rgb(32, 33, 36);
  z-index: 2;
  margin-top: 1rem ;
}

.SearchBarText {

  position: relative;

  height: 1.9rem;
  
  width: 70%;

  left: 10%;
  bottom: 10px;
  background-color: rgb(32, 33, 36);

  border: 0px solid rgb(32, 33, 36);
  outline: none !important;
  
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  color: white;
}
.SearchByCam {
  
  height: 35px;
  max-width: 35px;

  margin-left: 3rem;
  top: 3px;
  cursor: pointer;
 

}
.AiOutlineSearch{
    position: relative;
    left: 1.5rem;
    bottom: .5rem;
   
    z-index: 4;
    color: rgb(185, 185, 185);

  
    
}
.SearchBtm{
  width: 9rem;
    max-width: 9rem;
    position: relative;
    height: 2.4rem;

    right: 5rem;
    top: 1rem;
    border-radius: 6px;
    color: white;
    background-color: rgb(48, 49, 52);
    cursor: pointer;
    display: inline;
}
.SearchBtm:hover{
   border: 1px solid  rgb(71, 71, 72);
   
}
.Feeling_Lucky{
  width: 9rem;

     max-width: 9rem;
    position: relative;
    height: 2.4rem;

    left: 4.5rem;
    display: inline;
    bottom: 1.35rem;
    border-radius: 6px;
    color: white;
    background-color: rgb(48, 49, 52);
    cursor: pointer;

}
.Feeling_Lucky:hover{
   border: .3px solid  rgb(71, 71, 72);;
}
.SearchBtmText{
    position: relative;
    padding-left: 18px;
    bottom: 23%;
}
.Feeling_LuckyText{
    position: relative;
   
    bottom: 23%;
    left: 10%;
}
#mahmoudlink{
    visibility: hidden;
    text-decoration-style:unset;
    color: white;
    position: relative;
    left: 50px;
}
.textUnderSearchContainer{
    
    position: relative;
    
    
    font-size: smaller;
    color: rgb(185, 185, 185) ;
}
#arabic:hover{
  text-decoration: underline;
}